.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    min-width: 150px;
    max-width: 900px;
    width: 100%;
    margin-bottom: 30px;
}

.field-full-width {
    width: 100%;
}

.search-type-toggle {
    margin-right: 3px;
}

::ng-deep .field-full-width {

    .mat-mdc-form-field-flex {
        align-items: center;
    }

    .mat-mdc-form-field-infix {
        display: flex;
        align-items: center;
    }

    .mat-mdc-form-field-icon-suffix {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;
    }
}