.book-description {
    max-height: 140px;
    overflow: hidden;
}

.book-card-content {
    display: flex;
    flex-direction: column;
}

.book-thumbnail {
  margin: 10px auto;
}

.book-card-title {
  display: flex;
  flex-direction: column;
  height: 70;
}

.book-card {
    width: 350px;
    height: 550px;
    margin: 0 50px 30px 0;
}

.book-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.book-title {
    font-family: 'Niramit Bold', sans-serif !important;
    overflow: hidden;
    line-height: 24px;
    font-size: 16px;
}

.book-authors {
  font-size: 14px;
  color: #565959;
}

.book-rating {
  line-height: 24px;
}

.book-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
