@use '../../styles' as styles;

.title-wrapper {
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;
  width: 100%;
  color: styles.$dark-primary-text;
}


.user-card {
  max-width: 1000px;
  margin: 0 auto;

  .user-additional-details div {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    & :first-child {
      font-weight: bold;
    }
  }
}